<% layout('/layouts/boilerplate') -%>

<body>
    <div class="container text-muted">
        <div class="row">
            <div class="search col-12  col-md-6 offset-md-3 mt-3">
                <input type="text" class="form-control" placeholder="item name" aria-describedby="button-addon2">
                <button class="btn" type="button" id="button-addon2">Search</button>
              </div>
        
        <div class=" d-flex flex-wrap flex-sm-nowrap align-items-center filter-toggler"> 
            <div class="filters d-flex gap-4 mt-4">
                 <div class="text-center icon ">
                     <i class="fa-solid fa-fire"></i>
                     <p>Trending</p>
                 </div>
                 <div class="text-center icon">
                     <i class="fa-solid fa-bed"></i>
                     <p>Bed</p>
                 </div>
                 <div class="text-center icon">
                     <i class="fa-solid fa-umbrella"></i>
                     <p>Beach</p>
                 </div>
              
                 <div class="text-center icon">
                     <i class="fa-solid fa-mountain-city"></i>
                     <p>Iconic</p>
                 </div>
                 <div class="text-center icon">
                     <i class="fa-solid fa-mountain"></i>
                     <p>Mountain</p>
                 </div>
                 <div class="text-center icon">
                     <i class="fa-brands fa-fort-awesome"></i>
                     <p>Castles</p>
                 </div>
                 <div class="text-center icon">
                     <i class="fa-solid fa-person-swimming"></i>
                     <p>Pools</p>
                 </div>
                 <div class="text-center icon">
                     <i class="fa-solid fa-campground"></i>
                     <p>Camping</p>
                 </div>
                 <div class="text-center icon">
                     <i class="fa-solid fa-tractor"></i>
                     <p>Farms</p>
                 </div>
                 <div class="text-center icon">
                     <i class="fa-solid fa-snowflake"></i>
                     <p>Arctics</p>
                 </div>

                 <div class="text-center icon">
                    <i class="fa-solid fa-igloo"></i>
                     <p>Domes</p>
                 </div>
                 <div class="text-center icon">
                    <i class="fa-solid fa-ship"></i>
                     <p>Boats</p>
                 </div>
            </div>

            <div class=" form-switch toggler py-2 rounded">
             <input class="form-check-input p-2 " type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
             <label class="form-check-label" for="flexSwitchCheckChecked">Display after taxes </label>
           </div>
        </div>
        </div>
         

        <div class="row ">           
            <% for(let room of rooms){%>

                <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-4 room-box">
                    <a href="/listings/<%= room._id %>">
                        <img  src="<%= room.image.url %>">

                        <div class="text-muted">
                            <h5><%= room.title %></h5>
                            <p>
                                &#8377;<%= room.price.toLocaleString('en-IN')  %>/night
                                <i class="tax-info">+18%</i>
                            </p>
                        </div>
                    </a>
                </div>
            <% } %>
        </div>
    </div>
<script>
    const toggler = document.getElementById('flexSwitchCheckChecked');
    toggler.addEventListener('click', (event)=>{

    let taxInfo = document.getElementsByClassName('tax-info');

    for(info of taxInfo){
            if(info.style.display === 'none'){
            info.style.display = 'inline'
        }else{
            info.style.display = 'none'
        }
    }
})
</script>
</body>
