<% layout('/layouts/boilerplate') -%>

<body>
    <div class="container text-muted">
        <div class="row">
            <form class="search col-12  col-md-6 offset-md-3 mt-3" action="/listings/search" method="GET">
                <input type="text" name="title" class="form-control" placeholder="Search Room" aria-describedby="button-addon2">
                <button class="btn" type="submit" id="button-addon2">Search</button>
            </form>
        
        <div class=" d-flex flex-wrap flex-sm-nowrap align-items-center filter-toggler"> 
            <div class="filters d-flex gap-4 mt-4">
                <form class="text-center icon" action="/listings/search" method="get">
                     <i class="fa-solid fa-fire"></i>
                     <input class="filter-input"  value="Trending" name="title" type="submit">
                 </form>
                 <form class="text-center icon" action="/listings/search" method="get">
                    <i class="fa-solid fa-bed"></i>
                    <input class="filter-input"  value="Bed" name="title" type="submit">
                </form>
                 <form class="text-center icon" action="/listings/search" method="get">
                    <i class="fa-solid fa-umbrella"></i>
                     <input class="filter-input"  value="Beach" name="title" type="submit">
                 </form>
                 <form class="text-center icon" action="/listings/search" method="get">
                    <i class="fa-solid fa-mountain-city"></i>
                     <input class="filter-input"  value="Iconic" name="title" type="submit">
                 </form>
                 <form class="text-center icon" action="/listings/search" method="get">
                    <i class="fa-solid fa-mountain"></i>
                     <input class="filter-input"  value="Mountain" name="title" type="submit">
                 </form>
                 <form class="text-center icon" action="/listings/search" method="get">
                    <i class="fa-brands fa-fort-awesome"></i>
                     <input class="filter-input"  value="Castles" name="title" type="submit">
                 </form>
                 <form class="text-center icon" action="/listings/search" method="get">
                    <i class="fa-solid fa-person-swimming"></i>

                     <input class="filter-input"  value="Pools" name="title" type="submit">
                 </form>
                 <form class="text-center icon" action="/listings/search" method="get">
                    <i class="fa-solid fa-campground"></i>
                     <input class="filter-input"  value="Camping" name="title" type="submit">
                 </form>
                 <form class="text-center icon" action="/listings/search" method="get">
                    <i class="fa-solid fa-tractor"></i>
                     <input class="filter-input"  value="Farms" name="title" type="submit">
                 </form>    
                 <form class="text-center icon" action="/listings/search" method="get">
                    <i class="fa-solid fa-snowflake"></i>
                     <input class="filter-input"  value="Arctics" name="title" type="submit">
                 </form>                 

                 <form class="text-center icon" action="/listings/search" method="get">
                    <i class="fa-solid fa-igloo"></i>

                     <input class="filter-input"  value="Domes" name="title" type="submit">
                 </form>   
                 <form class="text-center icon" action="/listings/search" method="get">
                    <i class="fa-solid fa-ship"></i>
                     <input class="filter-input"  value="Boats" name="title" type="submit">
                 </form> 
                 
            </div>

            <div class=" form-switch toggler py-2 rounded">
             <input class="form-check-input p-2" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
             <label class="form-check-label" for="flexSwitchCheckChecked">Display after taxes </label>
           </div>
        </div>
        </div>
         

        <div class="row ">           
            <% for(let room of rooms){%>

                <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-4 room-box">
                    <a href="/listings/<%= room._id %>">
                        <img  src="<%= room.image.url %>">

                        <div class="text-muted">
                            <h5><%= room.title %></h5>
                            <p>
                                &#8377;<%= room.price.toLocaleString('en-IN')  %>/night
                                <i class="tax-info">+18%</i>
                            </p>
                        </div>
                    </a>
                </div>
            <% } %>
        </div>
    </div>
<script>
    const toggler = document.getElementById('flexSwitchCheckChecked');
    toggler.addEventListener('click', (event)=>{

    let taxInfo = document.getElementsByClassName('tax-info');

    for(info of taxInfo){
            if(info.style.display === 'none'){
            info.style.display = 'inline'
        }else{
            info.style.display = 'none'
        }
    }
})
</script>
</body>
