                    <nav class="navbar border-bottom navbar-expand-sm sticky-top">
                      <div class="container-fluid">
                        <a class="navbar-brand" href="/"><i class="fa-regular fa-compass"></i></a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse menu " id="navbarNav">
                          <ul class="navbar-nav">
                            <li> <a class="nav-link " href="/listings">Explore</a></li>                           
                          </ul> 
                          </div>
                          
                            <div>
                            <ul class="navbar-nav ">
                              <li> <a class="nav-link " href="/listings/new">Rent Your Room</a></li>
  
                              <% if(!currUser){ %>
  
                              <li> <a class="nav-link " href="/signup"> <b>SignUp</b></a></li>
                              <li> <a class="nav-link " href="/login"><b>Login</b></a></li>
                              <% } %>
  
                              <% if(currUser){ %>
                              <li> <a class="nav-link " href="/logout"><b>Logout</b></a></li>
                              <% } %>
                              </ul>
                          </div>

                        
                        </div>

                    </nav>

                   
