<% layout('/layouts/boilerplate') -%>
<style>
    .room-box{
        height: 200px;
    }

    .room-box a{
        text-decoration: none;
        color: #000;
    }

    .room-box img{
            height: 100%;
            width: 100%;
            border-radius: 4px;
    }

    @media (max-width:575px) {
        .room-box{
            margin: 0 auto;
        width: 400px;
        height: 350px;
    }

    }
</style>
<body>
    <div class="container text-muted">
        <div class="row ">
           <div class="row mt-5">
                <h3 class=" col-6 ">All Rooms</h3>
                <form action="http://localhost:8080/listings/new" method="GET" class="col-3">
                    <button type="submit" class="btn btn-primary">Create new Room</button>
                </form>
                <div class="col-3"></div>
           </div>
            <% for(let room of rooms){%>

                <div class="col-12 col-sm-6 col-md-4 col-lg-3 my-5  room-box">
                    <a href="http://localhost:8080/listings/<%= room._id %>">
                        <img  src="<%= room.image %>" alt="" srcset="">

                        <div class="text-muted">
                            <h5><%= room.title %></h5>
                            <p>&#8377;<%= room.price %>/per night</p>
                        </div>
                    </a>
                </div>
            <% } %>
        </div>
    </div>

</body>
